@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-x {
  animation: slideX 8s infinite linear;
  /* animation-duration: 5s; */
}
@keyframes slideX {
  from {
    transform: translateX(65%);
  }
  to {
    transform: translateX(-65%);
  }
}


